/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "myFont";
    src: url(./assets/fonts/bpg_nino_mtavruli_normal.ttf) format("truetype");
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    overflow: auto;
  
} 